<div class="container p-4 h-[220px] mt-4 lg:mt-8" *ngIf="modal; else noModal">
    <h2>Escribe una tarea por hacer</h2>
    <form action="" class="flex flex-col justify-evenly h-[150px]">
        <input type="text" placeholder="Titulo" class="p-2 rounded-md shadow-md">
        <input type="text" placeholder="Descripcion" class="p-2 rounded-md shadow-md">
        <div class="flex justify-end">
            <button 
                class="rounded-md bg-gray-200 text-white mr-4 p-2"
                (click)="handleModal()"
                >Cancelar</button>
            <button 
                class="rounded-md bg-[#EEAA49] text-white mr-2 p-2"
                (click)="handleModal()"
                >Guardar</button>
        </div>
    </form>
</div>

<ng-template #noModal class="container w-auto h-auto">
    <h2 class="text-lg text-[#EEAA49] p-30">Da clic en el boton de arriga para agregar una nueva tarea</h2>
</ng-template>